.cpr-container {
    position: relative;
    top: 40vh;
    width: 100%;
    height: 8vh;
    overflow: hidden;
    background-color: #141414;
    color: #7d7d7d;
    font-size: .8rem;
}
.cpr-container {
    display: flex;
    align-items: center;
}
.cpr-container span {
    margin-left: 5px;
}
.cpr-container .cpyright-component-icons {
    margin-left: 9.4vw;
}
#toTop {
    position: relative;
    left: 57%;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    background-color: #1E88E5;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    color: #000000;
    cursor: pointer;
    transition: .3s ease;
}
#toTop:hover {
    background-color: #262626;
}
